# Workflow I/O
workflow/checkpoints_pl/
workflow/data/
workflow/dags/
workflow/outputs
workflow/references/

#logs
workflow/logs/
*slurm*.out
workflow/wandb/

# WF overhead
workflow/.snakemake/
workflow/basecalling_models_dorado-1.0.1-linux-x64/
workflow/dorado-1.0.1-linux-x64/
workflow/dorado-1.0.1-linux-x64.tar.gz
workflow/snakemake_profile/
workflow/.env

# Python packaging
__pycache__/
*.egg-info
build/
dist/

# diagnostic/testing notebooks and other dev output
notebooks/*
trash/
tmp/
workflow/outputs_dev